.ipynb_checkpoints
Python/Lecture/11ExerciseSolutions.ipynb
R/Lecture/11ExerciseSolutionsR.ipynb
R/Lecture/data/donationsPerCompany.csv
Python/Lecture/config.json
Python/Lecture/gmapsKey.json
Python/LiveCoding/quandl.json
Python/Lecture/binFileA.npy
Python/Lecture/textFileA
Python/Lecture/group*.*
Python/Lecture/Online*.ipynb
Python/LiveCodingPythonSolution
R/LiveCodingRSolution

